<html>


<body>
{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Information{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="#"> information</a>
        </div>    
    </nav>
{% endblock %}


{% block content %}
    <div class="container">
        <h1>Server  information</h1>
        

          <div class="container">
	  <form method="POST" action="">
           
          {{ form.dt_start.label }} {{ form.dt_start }}   
	    {% for error in form.dt_start.errors %}
	    {{ error }}
            {% endfor %}

          {{ form.dt_end.label }} {{ form.dt_end }}
             {% for error in form.dt_end.errors %}
	     {{ error }}
             {% endfor %}
	  
          
                   <br> <br>
		         {{form.idc.label}} {{ form.idc }}
		         {% for error in form.idc.errors %}
			 {{ error }}
			 {% endfor %}
	           <br> <br>
       
       
       	 
	     {{form.submit()}}
	     {{ form.hidden_tag() }}
	    
	  
	      
	    </form>	
   
    </div> 
     
       
                   
		         <a href="/download">Download</a>
       
        
        <table class="table table-hover">
           <tr>
           <th>id</th>
           <th>ServerName</th>
            <th>Activated Timestamp</th>
            </tr>
         
                  {% for row in kms %}
		        <tr>
			  {% for d in row %}
			 <td>{{ d }}</td>
			  {% endfor %} 
			 </tr> 
                  {% endfor %}
          
        </table>
    </div>    

    
{% endblock %}

</body>
</html>
