<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>KMS info</title>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>
$(function() {
	$( ".dtpick" ).datepicker();
});
</script>
</head>


<body>

{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Information{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="#"> information</a>
        </div>    
    </nav>
{% endblock %}


{% block content %}
    <div class="container">
        <h1>Server  information</h1>
        

          <div class="container">
	  <form method="POST" action="">
	    {{ form.dt_start(class="dtpick") }}
	    {{ form.dt_end(class="dtpick") }}
            
	    {{ form.submit() }}   
	    {{ form.hidden_tag() } 
	    </form>	
   
    </div> 
      
        <table class="table table-hover">
           <tr>
           <th>id</th>
           <th>ServerName</th>
            <th>Activated Timestamp</th>
            </tr>
        

           {% for row in kms %}
           <tr>
	     <td>{{row.id}} </td>
	     <td>{{row.hostname}} </td>
	     <td>{{row.date}} </td>
           </tr>
        
           {% endfor %}

        </table>
    </div>    
    
{% endblock %}

</body>

</html>
